.main-error form {
    margin: 2rem 0;
    @include media-breakpoint-up(lg) {
        width: calc(66.6667% - 30px);
    }
}

.error-links {
    @include make-row();
    margin-top: $paragraph-margin-bottom * 2;

    section {
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }
}