.cid-content,
.dt2-content {
    @extend .col-md-6;
}

.cid-events,
.dt2-events,
.cid-news,
.dt2-news {
    .subtitle {
        font-size: 37.5%;
    
        a {
            border-bottom: 2px solid rgba($black, .875);

            &:hover {
                border-bottom: 2px solid $black;
            }
        }
    }

    .item-header {
        h3 {
            font-size: 2rem;
        }

        .item-meta ul {
            font-size: .75rem;
        }
    }
}

.cid-events,
.dt2-events {
    @extend .col-md-6;

    @include media-breakpoint-up(md) {
        font-size: 75%;
    }

    .all-events {
        font-size: 1.25rem;
        font-weight: 700;
        
        @include media-breakpoint-up(md) {
            padding-left: $paragraph-margin-bottom / 2;
            padding-right: $paragraph-margin-bottom / 2;
        }
    }
}